<nav class="main-nav center">
  <div class="nav-item-list">
    {{#link-to "index" classNames="nav-item home-item" title="Home Page"}}{{/link-to}}
    {{#link-to "projects" classNames="nav-item project-item" title="Projects"}}{{/link-to}}
    {{#link-to "linkedin" classNames="nav-item cv" title="Curriculum Vitae"}}{{/link-to}}
  </div>
</nav> 
