
	<div class="intro right-side">
	<div class="">
		<div class="row">
			<div class="col-xs-12">
				<div class="content-wrapper row">
					<div class="title-box">
						<h1>Jessica Jordan - Front-End Development</h1>
					</div>
					<aside class="intro-teaser">
						<h2><strong>Front-End Web Development & UX/UI Optimization</strong></h2>
						<p><strong>Jessica Jordan</strong> provides <strong>user experience</strong> and <strong>user interface</strong> solutions for 
						websites and implements <strong>web standards compliant web pages</strong>. Hands-on experience in <strong>A/B testing</strong> and
						<strong>multi-page testing</strong> make her the perfect <strong>technical</strong> lead of your next <strong>conversion optimization</strong> project. </p>
						<p>As a MSc. <strong>systems biologist, Jessica Jordan</strong> has a strong scientific background in <strong>life sciences</strong>
						and is the perfect match for web and software projects requiring <strong>front-end development</strong> in the field of <strong>(systems) biology,
						biotechnology and bioinformatics</strong>.</p>
						<p>Have a look at her {{#link-to 'projects.overview'}}recent and current projects{{/link-to}}
						and {{#link-to 'about'}}get into contact{{/link-to}}!</p></aside>
				</div>
			</div>
		</div>
		<div class="row mt-2 mb-2">
			<div class="col-sm-12 centered">
				<p>{{#link-to 'projects.overview' classNames="button action"}}See Working Examples{{/link-to}}</p>
			</div>
		</div>
		<div class="row mt-2 mb-4 main-benefits">
			<div class="col-sm-4 centered">
				<aside>
					<p>{{fa-icon 'star' size=2}}</p>
					<h3>Front-End Development</h3>
				</aside>
			</div>
			<div class="col-sm-4 centered">
				<aside>
					<p>{{fa-icon 'star' size=2}}</p>
					<h3>A/B Testing</h3>
				</aside>
			</div>
			<div class="col-sm-4 centered">
				<aside>
					<p>{{fa-icon 'star' size=2}}</p>
					<h3>UX/UI Optimization</h3>
				</aside>
			</div>
		</div>
	</div>
	</div>




