$fs-0: 11px;
$fs-1: 14px;
$fs-2: 16px;
$fs-3: 20px;

$fs-6: 42px;

$lh-1: 22px;
$lh-2: 28px;
$lh-3: 32px;

$lh-6: 54px;


$color-00: rgba(22,22,22,1);
$color-0: rgba(66,66,66,1);
$color-1: #663399;
$color-2: rgba(221,119,221,1);
$color-3: #ffaaee;
$color-4: #ffffff;


$trans: transparent;
$trans-1: rgba(0,0,0,0.4);
$trans-2: rgba(0,0,0,0.6);
$trans-3: rgba(0,0,0,0.8);
$trans-4: rgba(0,0,0,0.9);

$trans-2a: rgba(221,119,221,0.5);
$trans-2b: rgba(221,119,221,0.95);

$trans-3a: rgba(255,255,255,0.5);
$trans-3b: rgba(255,255,255,0.9);
$trans-3c: rgba(255,255,255,0.96);

$half: 50%;

$pad-0: 0rem;
$pad-1: 2rem;
$pad-2: 2 * $pad-1;
$pad-3: 4 * $pad-1;
$pad-3b: 5 * $pad-1;
$pad-4: 6 * $pad-1;
$pad-5: 8 * $pad-1;

$sm-1: 0.25rem;


$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";

$size-1: 100%;
$size-2: 50%;
$size-3: 25%;
/* $r-0: 0.5% *2; 
$r-1: 10% *2;
$r-2: 20% *2;
$r-3: 40% *2; */
$r-0: 0.25rem;
$r-1: 10rem;
$r-2: 20rem;
$r-3: 40rem; 

/* Bootstrap Overrides */
$grid-gutter-width: 30px;
$container-large-desktop: 940px + $grid-gutter-width;

@mixin font-1{
	color: inherit;
	font-size: $fs-1;
	line-height: $lh-1;
}

@mixin font-2{
	color: inherit;
	font-size: $fs-2;
	line-height: $lh-2;
}

@mixin font-3{
	color: inherit;
	font-size: $fs-3;
	line-height: $lh-3;
}
@mixin font-6{
	color: inherit;
	font-size: $fs-6;
	line-height: $lh-6;
}

@mixin flex-wrap{
	display: -webkit-flex;
	display: flex;
}

@mixin flex-item{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

@mixin vendor($attrs, $vals){
	-webkit-#{$attrs}: #{$vals};
	-ms-#{$attrs}: #{$vals};
	-moz-#{$attrs}: #{$vals};
	-o-#{$attrs}: #{$vals};
	#{$attrs}: #{$vals};
}

@mixin flex-vendor($attrs, $vals){
	-webkit-#{$attrs}: #{$vals};
	-ms-#{$attrs}: #{$vals};
	#{$attrs}: #{$vals};
}

@for $i from 1 through 12{
	.mt-#{$i}{
		margin-top: $i * 2 * $pad-1;
	}
}
@for $i from 1 through 12{
	.mb-#{$i}{
		margin-bottom: $i * 2 * $pad-1;
	}
}

