<div class="row">
	<article class="col-xs-12">
		<h2><strong>{{model.name}}</strong></h2>
		<p class="comment"></p>
	</article>
</div>
<div class="row centered">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-sm-6 mt-1 centered">
				<div class="box proj-1"><span class="banner">{{model.id}}</span></div>
			</div>
			<div class="col-sm-6 mt-1 centered">
				<div>Super cool stuff happening</div>
			</div>
		</div>
	</div>
</div>
