<div class="row legal-pages">
<div class="col-xs-6">
<h1>Imprint</h1>
<p class="mt-1">Jessica Jordan</p>
<p>Front-End Developer</p>
<p>xxx</p>
<p>xxx Berlin</p>
<p class="mt-1"><strong>Contact</strong></p>
<p>{{fa-icon 'phone'}}xxx</p>
<p>{{fa-icon 'envelope-o'}} jessica.jordan.fe.dev {aet} gmail.com</p>
</div>
</div>
