@for $i from 1 through 100 {
  .height-#{$i}{
    height: 100vh * $i / 100;
  }
}
@for $i from 1 through 12 {
  .mt-#{$i}{
    margin-top: 2vh * $i;
  }
  .mb-#{$i}{
    margin-bottom: 2vh * $i;
  }
}

.default-text {
  color: $black;
}

.no-margin {
  margin: 0;
}