body {
  background-color: #f7f7f7;
}
html, body {
  height: 100vh;
}
.main-header {
  h1 {
    font-size: 2em;
  }
}
.card {
 
  overflow: hidden; 
  @for $i from 1 through 12 {
    &.height-#{$i}{
      height: 100vh * $i / 12 - 2;
      margin: 0.5vh 0 1.5vh;
    }
  }
  .card-image {
    
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }
  .card-content {
    position: absolute;
    bottom: 0;
  }
}