body {
  background-color: #f2f2f2;
}
html, body {
  height: 100vh;
}
.main-header {
  h1 {
    text-align: center;
    font-size: 4vh;
    margin: 3.5vh 0 2.5vh 0;
  }

  &.desktop  {
    h1 {
     text-align: left;
    }
  }
  
}
h2 {
  font-size: 3.5vh;
}
.md-card-extended {
 
  overflow: hidden; 
  @for $i from 1 through 100 {
    &.height-#{$i}{
      height: 100vh * $i / 100 - 2;
      margin: 0.5vh 0 1.5vh;
    }
  }
  .card-image {
    
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }
  .card-content {
    position: absolute;
    bottom: 0;
  }
}

.md-card-extended {
  .card-reveal {

    &.punk {
      background-color: $punk;
    }
    &.dark-punk {
      background-color: $dark-punk;
    }
    &.lilac {
      background-color: $lilac;
    }
    &.dark-gray {
      background-color: $dark-gray;
    }
    &.gray {
      background-color: $gray;
    }
    &.what {
      background-color: $what;
    }

    .card-main-title {
      position: absolute;
      font-size: 4vh;
      bottom: 1.5vh;
      left: 3vh;
    }
    .contact {
       a {
         position: relative;
         top: 12vh;
       }
      .social-icon {
        height: 6vh;
        width: auto;
        margin: 0 auto;
        &:hover {
          -webkit-filter: sepia(100%); 
          filter: hue-rotate(180deg);
        }
        &.linkedin {
          height: 4vh;
          margin-top: .9vh;
        }
      }
      .mail-icon {
        font-size: 5vh;
        margin: .5vh auto 0;
      }
    }
  }
  
}

.row {
  &.no-margin {
    margin-left: auto;
    margin-right: auto;
  }
  .container & {
    
    &.no-margin {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }
  }
}

.sorter {
    text-align: center;

  .sort-link {
    font-size: 3vh;
    margin: 3.5vh 0 2.5vh 1vh;
    color: $gray;
    text-transform: uppercase;
    @include vendor(transition, color .2s ease-in);
    
    &:hover {
      color: $dark-gray;
    }
  }
}

.main-nav {
  height: 0;
  background-color: transparent;
  position: relative;

  .nav-item {
    position: absolute;
    top: 1vh;
    margin: 0 auto;

    @for $i from 1 through 12 {
      @if $i % 2 == 0 {
        &:nth-child(#{$i}){
          color: blue;
          left: $i * 2vh;
        }
      }
      @else {
        &:nth-child(#{$i}){
          color: red;
          right:$i * 2vh;
        }
      }
    }

    &:nth-child(1){
      left: auto;
      right: auto;
      color: #fff;
    }


  }
}