<div class="row">
	<article class="col-xs-12">
		<h2><strong>Current & Former Web Projects</strong></h2>
		<p class="comment">Series of past and current front-end projects </p>
	</article>
</div>
<div class="row centered">
	<div class="col-xs-12">
		<div class="row">
			{{#each model as |model|}}
			<div class="col-sm-4 mb-1 centered proj-{{model.id}}">
				{{#link-to 'project' model.id classNames="box" }}<span class="banner">{{model.name}}<br /><span class="comment"> - {{model.employer}} - </span></span>{{/link-to}}
			</div> 
			{{/each}} 
		</div>
	</div>
	{{outlet}}
</div>
<div class="row mt-2 mb-10">
	<div class="col-xs-12 centered">
		<p>{{#link-to 'about' classNames="action button"}}Get into Contact{{/link-to}}</p>
	</div>
</div>
