<nav class="main-nav center">
  {{#link-to "index" classNames="nav-item home-item" title="Home Page"}}Home{{/link-to}}
  {{#link-to "projects" classNames="nav-item project-item" title="Projects"}}Projects{{/link-to}}
  {{#link-to "linkedin" classNames="nav-item cv" title="Curriculum Vitae"}}CV{{/link-to}}
  {{#link-to "linkedin" classNames="nav-item cv" title="Curriculum Vitae"}}CV{{/link-to}}
  {{#link-to "linkedin" classNames="nav-item cv" title="Curriculum Vitae"}}CV{{/link-to}}
</nav>
<div class="container">
  <div class="row no-margin">
    <header class="col s12 main-header hide-on-med-and-up">
      <h1>Jessica Jordan</h1>
    </header>
    <header class="col s12 main-header desktop hide-on-small-only">
      <h1>Jessica Jordan</h1>
    </header>
  </div>
{{outlet}}
</div>
