<div class="container main-container">
  <div class="row no-margin">
     <header class="col s12 main-header hide-on-med-and-up">
      <h1>{{#link-to "index" classNames="default-text" }}Jessica Jordan{{/link-to}}</h1>
    </header> 
    <header class="col s12 main-header desktop hide-on-small-only">
      <h1>{{#link-to "index" classNames="default-text" }}Jessica Jordan{{/link-to}}</h1>
    </header>
  </div>
{{liquid-outlet}}
</div>
