<div class="{{pageColor}}">
<div class="container main-container">
  <div class="row no-margin">
     <header class="main-header hide-on-med-and-up">
     <div class="col s12">
      <h1>{{#link-to "index" classNames="default-text" }}Jessica Jordan{{/link-to}}</h1>
     </div>
     <div class="col center s12">
      {{#if notIndexRoute}}
        {{#link-to "index" classNames="default-text center back-navigation"}}
          <i class="material-icons  medium">keyboard_arrow_right</i>
        {{/link-to}}
      {{/if}}
     </div>
   
    </header> 
    <header class="col s12 main-header desktop hide-on-small-only">
         <h1>{{#link-to "index" classNames="default-text" }}Jessica Jordan{{/link-to}}
      {{#if notIndexRoute}}
        {{#link-to "index" classNames="default-text right back-navigation"}}
          <i class="material-icons  medium">keyboard_arrow_right</i>
        {{/link-to}}
      {{/if}}
</h1>
    </header>
  </div>
{{liquid-outlet}}
</div>
</div>
