<nav class="main-nav center">
  <div class="nav-item-list">
    {{#link-to "index" classNames="nav-item home-item" title="Home Page"}}{{/link-to}}
    {{#link-to "projects" classNames="nav-item project-item" title="Projects"}}{{/link-to}}
    {{#link-to "linkedin" classNames="nav-item cv" title="Curriculum Vitae"}}{{/link-to}}
  </div>
</nav> 
<div class="container main-container">
  <div class="row no-margin">
     <header class="col s12 main-header hide-on-med-and-up">
      <h1>{{#link-to "index" classNames="default-text" }}Jessica Jordan{{/link-to}}</h1>
    </header> 
    <header class="col s12 main-header desktop hide-on-small-only">
      <h1>{{#link-to "index" classNames="default-text" }}Jessica Jordan{{/link-to}}</h1>
    </header>
  </div>
{{liquid-outlet}}
</div>
