<div class="container">
  <div class="row">
    <header class="col s12 main-header height-1">
      <h1>Jessica Jordan</h1>
    </header>
  </div>
  <div class="row">
    <div class="col s12 m6">
      {{#md-card title="Card Title"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card"
          classNames="height-10"}}

          {{#md-card-content}}
              I am a very simple card. I am good at containing
              small bits of information. I am convenient because
              I require little markup to use effectively.
          {{/md-card-content}}

          {{#md-card-action}}

          {{/md-card-action}}

      {{/md-card}}
    </div>
    <div class="col s12 m6">
      <div class="row">
        <div class="col s6">
      {{#md-card title="Card Title"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card-2"
          classNames="height-5"}}

          {{#md-card-content}}
              I am a very simple card. I am good at containing
          {{/md-card-content}}

          {{#md-card-action}}

          {{/md-card-action}}

      {{/md-card}}
        </div>
        <div class="col s6">
      {{#md-card title="Card Title"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card-3"
          classNames="height-5"}}

          {{#md-card-content}}
              I am a very simple card. I am good at containing
          {{/md-card-content}}

          {{#md-card-action}}

          {{/md-card-action}}

      {{/md-card}}
        </div>
        <div class="col s12">
      {{#md-card title="Card Title"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card-4"
          classNames="height-5"}}

          {{#md-card-content}}
              I am a very simple card. I am good at containing
              small bits of information. I am convenient because
              I require little markup to use effectively.
          {{/md-card-content}}

          {{#md-card-action}}

          {{/md-card-action}}

      {{/md-card}}
        </div>
      </div>
    </div>
  </div>
{{outlet}}
</div>
