<div class="container">
  <div class="row no-margin">
    <header class="col s12 main-header">
      <h1>Jessica Jordan</h1>
    </header>
  </div>
  <div class="row">
    <div class="col s12 l6">
      {{#md-card-extended title="Projects"
          titleClass="orange-text"
          image="/hands.jpg"
          id="card-reveal"
          classNames="height-84"
          activator=true
          textColor="white-text"}}

          {{#md-card-content}}
              I am a very simple card. I am good at containing
              small bits of information. I am convenient because
              I require little markup to use effectively.
          {{/md-card-content}}

          {{#md-card-reveal-extended classNames="punk"}}

          {{/md-card-reveal-extended}}

      {{/md-card-extended}}
    </div>
    <div class="col s12 l6">
      <div class="row">
        <div class="col s6">
      {{#md-card-extended title="CV"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card-2"
          activator=true
          classNames="height-42"
          textColor="gray-text"}}

          {{#md-card-content}}

          {{/md-card-content}}
          {{#md-card-reveal-extended classNames="what"}}

          {{/md-card-reveal-extended}}



      {{/md-card-extended}}
        </div>
        <div class="col s6">
      {{#md-card-extended title="Talks"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card-3"
          classNames="height-42"
          activator=true
          textColor="white-text"}}

          {{#md-card-content}}
              I am a very simple card. I am good at containing
          {{/md-card-content}}

          {{#md-card-reveal-extended classNames="dark-punk"}}
                and here is some more stuff happening
          {{/md-card-reveal-extended}}

      {{/md-card-extended}}
        </div>
        <div class="col s12">
      {{#md-card-extended title="Contact"
          titleClass="orange-text"
          image="/hands.jpg"
          id="image-card-4"
          classNames="height-42"
          activator=true}}


          {{#md-card-reveal-extended classNames="lilac"}}
            <div class="row">
              <div class="col s6 offset-l3 l3 center">
                <a href="https://www.twitter.com/jjordan_dev"><img class="social-icon" src="/twitter.svg"/></a>
              </div>
              <div class="col s6 l3 center">
                <a href="https://www.twitter.com/jjordan_dev"><i class="material-icons mail-icon white-text">mail</i></a>
              </div>
            </div>
          {{/md-card-reveal-extended}}

      {{/md-card-extended}}
        </div>
      </div>
    </div>
  </div>
{{outlet}}
</div>
