  <section class="row">
              <div class="col s2">
                {{#link-to "index" classNames="default-text left back-navigation"}}<i class="material-icons white-text medium">keyboard_arrow_left</i>{{/link-to}}
              </div>
              <div class="col offset-s3 s2 center">
                <a class="center" href="https://uk.linkedin.com/in/jessicajordanfedev" target="lin" title="Read Curriculum Vitae on Linkedin"><img class="social-icon linkedin" src="/linkedin.png" alt="Find Jessica Jordan's CV on Linkedin (external link)."/></a>
              </div>
  </section>


{{outlet}}
