  <section class="row mt-2">
              <div class="col s12 center">
                <a class="center" href="https://uk.linkedin.com/in/jessicajordanfedev" target="lin" title="Read Curriculum Vitae on Linkedin"><img class="social-icon linkedin" src="/linkedin.png" alt="Find Jessica Jordan's CV on Linkedin (external link)."/></a>
              </div>
  </section>


{{outlet}}
